.FotoPerfil{
    border-radius: 40%; 
    width: 150px;
    height: 150px;
    margin-top: -110px;   ;
}

.seccionCV{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}      
.datoTemporal {
        width: 25%;
      }
.descrp{
     width: 75%;
      }
